/bin/
/.classpath
/.project

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/vcs\.xml

\.idea/workspace\.xml

Trabajo-clase-grupo\.iml

build\.xml

manifest\.mf

nbproject/build-impl\.xml

nbproject/genfiles\.properties

nbproject/private/private\.properties

nbproject/project\.properties

nbproject/project\.xml

src/ejemplo/Ejemplo\.java

src/view/aff\.txt

trabajo/trabajo\.iml
/build/
/dist/
*.bak
